
.chat-window {
    border: 1px solid black;
    border-radius: 3%;
    height: 81%;
    display: block;
    background-color: white;
    border: 1px solid black;
    overflow-y: auto;
}

.messages{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 3px;
    text-align: bottom;
}
