
.chat-window {
    border: 1px solid black;
    border-radius: 3%;
    height: 80%;
    display: block;
    background-color: white;
}

.messages{
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.message-holder{
    display:inline-block;
    color: white;
}