* {
  box-sizing: border-box;
}

.message-template {
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: lightblue;
  border: 1px solid grey;
  padding: 0.5rem;
  margin-top: .33rem;
}

.message-package {
  display: block;
  width: 100%;
}

.user-icon {
  max-height: 2.5rem;
  max-width: 2.5rem;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}

.user-icon:hover {
  cursor: pointer;
  border: 1px solid gray;
}

.user-name {
  text-align: left;
  margin-right: 2px;
  margin-left: 1rem;
  color: black;
  font-weight: bold;
}

.user-name:hover {
  cursor: pointer;
  letter-spacing: 0.05rem;
}

.message-text {
  text-align: left;
  margin-left: 1rem;
}

.time-stamp {
  text-align: right;
  display: block;
  font-size: .7rem;
}
